<div class="contenedor">
  <owl-carousel-o [options]="customOptions">
    @for (item of data; track item) {
      <ng-container>
        <ng-template let-owlItem carouselSlide [id]="item.id_img">
          <div
            [id]="item.id_img"
            class="timeline-carousel__item slide"
            [ngClass]="{ 'center-card': !owlItem.isCentered }"
          >
            <div class="timeline-carousel__image">
              <div
                style="border-radius: 12px;"
                class="media-wrapper media-wrapper--overlay"
                [ngStyle]="{
                  'background-image': 'url('+url + item.img + ')',
                  'background-position': 'center center',
                  'background-size': 'cover',
                  'height': '250px',
                  'margin-rigth': '20px'
                }"
              ></div>
            </div>
            <div
              style="
                padding-right: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                flex-direction: column;
              "
            >
              <span class="novedad mb-2">{{item.title}}</span>
            </div>
          </div>
        </ng-template>
      </ng-container>
    }
  </owl-carousel-o>
</div>
