<div class="bg-image">
  <div class="row w-100 mx-0 auth-page">
    <div class="col-md-8 col-xl-6 mx-auto">
      <div class="card">
        login
<!--      <div class="row">
          <div class="col-md-4 pe-md-0">
            <div
              class="auth-side-wrapper"
              style="background-size: cover; background-position: center"
              [ngStyle]="{
                'background-image': 'url(' + imagenCard + ')'
              }"
            ></div>
          </div>
          <div class="col-md-8 ps-md-0">
            <div class="auth-form-wrapper px-4 py-5">
              <a routerLink="." class="nobleui-logo d-block mb-2">
                <img
                  width="150px"
                  src="assets/images/logo/Logo_2ldpi.svg"
                  alt="logo"
                />
              </a>
              <h5 class="text-muted fw-normal mb-4">Bienvenido a tu cuenta</h5>
              <form class="forms-sample" >
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">
                    Dirección de email
                  </label>
                  <input
                    autocomplete="on"
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    placeholder="Email"
                    formControlName="usuario"
                  />
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">
                    Password
                  </label>
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    autocomplete="current-password"
                    placeholder="Password"
                    formControlName="password"
                  />
                </div>
                <div class="form-check mb-3">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="authCheck"
                    formControlName="remember"
                  />
                  <label class="form-check-label" for="authCheck">
                    Recuerdame
                  </label>
                </div>
                <div>
                  <button
                    type="submit"
                    class="btn btn-primary me-2 mb-2 mb-md-0"
                 
                  >
                    Login
                  </button>

                </div>
                <a routerLink="/auth/register" class="d-block mt-3 text-muted">
                  ¿No eres usuario?. Date de alta
                </a>
                <a routerLink="/auth/restablecer-password" class="d-block mt-3 text-muted">
                  ¿Olvidaste tu contraseña?
                </a>
              </form>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
