<div class="bg-image">
  <div class="grid grid-cols-12 w-full ">
    <div class="col-span-3">
    </div>
    <div class="col-span-6 ">
      <div class="shadow-md" >
        <div class="grid grid-cols-12 ">
          <div class="col-span-4 ">
            <div
              class=""
              style=" width: 100%; height: 100%; background-size: cover; background-position: center"
              [ngStyle]="{ 'background-image': 'url(' + imagenCard + ')' }"
            ></div>
          </div>
          <div class="col-span-8  bg-white px-4 py-6">
            <div class="">
              <a routerLink="." class="">
                <img
                  width="150px"
                  src="assets/images/logo/Logo_2ldpi.svg"
                  alt="logo"
                />
              </a>
              <h5 class="">Bienvenido a tu cuenta</h5>
              <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">
                <div class="mb-3">
                  <mat-form-field class="w-full">
                    <mat-label>Dirección email</mat-label>
                    <input type="email" formControlName="usuario" matInput />
                  </mat-form-field>
            <!--       <label for="exampleInputEmail1" class="form-label">
                    Dirección de email
                  </label>
                  <input
                    autocomplete="on"
                    type="email"
                    class="form-control"
                    id="exampleInputEmail1"
                    placeholder="Email"
                    formControlName="usuario"
                  /> -->
                </div>
                <div class="mb-3">
                  <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input type="password" formControlName="password" matInput />
                  </mat-form-field>
                <!--   <label for="exampleInputPassword1" class="form-label">
                    Password
                  </label>
                  <input
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    autocomplete="current-password"
                    placeholder="Password"
                    formControlName="password"
                  /> -->
                </div>
                <div class="form-check mb-3">
                  <mat-checkbox class="-ml-2" [formControlName]="'rememberMe'">
                    <span class=""> Recuerdame</span>
                  </mat-checkbox>
                </div>
                <div>
                  <button
                    type="submit"
                    class=" px-4 py-2 bg-[#B0CA13] text-white rounded"
                    (click)="onLoggedin()"
                  >
                    Iniciar sesión
                  </button>
                </div>
                <div class="flex flex-col justify-start mt-4">
                  <a routerLink="/auth/register" class="text-gray-400 cursor-pointer hover:text-secondary duration-300">
                    ¿No eres usuario?. Date de alta
                  </a>
                  <a routerLink="/auth/restablecer-password" class="text-gray-400 cursor-pointer hover:text-secondary duration-300">
                    ¿Olvidaste tu contraseña?
                  </a>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-span-3">
    </div>
  </div>
</div>
